{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <script src="{% static "js/activity-editor.js" %}"></script>
    <script>
        $(function () {
            //$('#activity-list').list_activities();
            $().activity_editor();
        });
    </script>
    <div id="activity-indicator"
            {% if activity_id %}
         data-activity="{{ activity_id }}"
            {% endif %}
            >
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="../activity-list" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span> Revenir à la liste d'activités
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="btn-group-justified">
                <a class="btn btn-primary" id="save-button"><span class="glyphicon glyphicon-floppy-disk"></span>
                    Sauvegarder</a>
                <a class="btn btn-success" id="preview-button"><span class="glyphicon glyphicon-file"></span>
                    Prévisualiser</a>
            </div>
        </div>
    </div>
    <div class="row" id="activity-header">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="inputTitle">Titre</label>
                <input name="title" type="text" id="inputTitle" class="form-control form-control-first"
                       required autofocus>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="inputGroups">Classe(s) ayant accès à l'activité</label>
                <select name="groups" id="inputGroups" class="form-control form-control-first selectpicker"
                        multiple>

                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="checkbox">
                <label> <input name="mult" type="checkbox">Permettre les tentatives multiples</label>

                <p class="help-block">Autorise les élèves à faire l'activité plusieurs fois.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="checkbox">
                <label> <input name="interactive" type="checkbox">Activer la correction interactive</label>

                <p class="help-block">Signale les fautes à l'élève avant de passer à l'exercice suivant.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h2>Page(s) d'exercice</h2>
            </div>
            <script>
                $(function () {
                    //$(".sortable").sortable({handle: ".glyphicon-move", containment: "body"});
                    var scrollable = $(".edit-activity-exercises");
                    var prevent_accordion_glitch = function () {
                        console.log('activate');
                        scrollable.css({"min-height": scrollable.innerHeight()});
                    };
                    var prevent_accordion_glitch_before = function () {
                        console.log('activate');
                        scrollable.css({"min-height": 0});
                    };
                    scrollable
                            .accordion({
                                collapsible: true,
                                active: false,
                                heightStyle: "content",
                                header: "> div > .group-header",
                                icons: {
                                    header: "glyphicon glyphicon-chevron-right",
                                    activeHeader: "glyphicon glyphicon-chevron-down"
                                },
                                // prevent scroll jump/glitch
                                beforeActivate: prevent_accordion_glitch_before,
                                activate: prevent_accordion_glitch
                            })
                            .sortable({
                                axis: "y",
                                handle: ".group-header",
                                //placeholder: "sortable-placeholder",
                                //revert: 150,
                                stop: function (event, ui) {
                                    // IE doesn't register the blur when sorting
                                    // so trigger focusout handlers to remove .ui-state-focus
                                    ui.item.children(".group-header").triggerHandler("focusout");

                                    // Refresh accordion to handle new order
                                    $(this).accordion("refresh");
                                }
                            })
                        // to prevent button clic propagation
                            .find('.btn-delete').click(function (event) {
                                event.stopPropagation();
                                event.preventDefault();
                                console.log("clicked!");
                            });

                    prevent_accordion_glitch();
                });
            </script>
            <div class="list-group edit-activity-exercises">
                <div class="list-group-item group">
                    <div class="group-header">
                        Titre de l'exercice (Type)
                        <div class="exercise-delete pull-right">
                            <a class="btn btn-danger btn-xs btn-delete"><span class="glyphicon glyphicon-remove"></span>
                                Supprimer</a>
                        </div>
                    </div>
                    <div class="edit-activity-exercises-container">
                        <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus
                            hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus
                            libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="btn-group-justified">
                <a class="btn btn-primary" id="new-exercise-button">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter un exercice
                </a>
            </div>
        </div>
    </div>

{% endblock %}