{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <script src="{% static "js/activity-editor.js" %}"></script>
    <script>
        $(function () {
            //$('#activity-list').list_activities();
            $().activity_editor();
        });
    </script>
    <div id="activity-indicator"
            {% if activity_id %}
         data-activity="{{ activity_id }}"
            {% endif %}
            >
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="../activity-list" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span> Revenir à la liste d'activités
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="btn-group-justified">
                <a class="btn btn-primary" id="save-button" data-loading-text="Sauvegarde en cours ..."><span
                        class="glyphicon glyphicon-floppy-disk"></span>
                    Sauvegarder</a>
                <a class="btn btn-success" id="preview-button"><span class="glyphicon glyphicon-file"></span>
                    Prévisualiser</a>
            </div>
        </div>
    </div>
    <div class="row" id="activity-header">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="inputTitle">Titre</label>
                <input name="title" type="text" id="inputTitle" class="form-control form-control-first"
                       required autofocus>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="inputGroups">Classe(s) ayant accès à l'activité</label>
                <select name="groups" id="inputGroups" class="form-control form-control-first selectpicker"
                        multiple>

                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="checkbox">
                <label> <input name="mult" type="checkbox">Permettre les tentatives multiples</label>

                <p class="help-block">Autorise les élèves à faire l'activité plusieurs fois.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="checkbox">
                <label> <input name="interactive" type="checkbox">Activer la correction interactive</label>

                <p class="help-block">Signale les fautes à l'élève avant de passer à l'exercice suivant.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h2>Page(s) d'exercice</h2>
            </div>

            <div class="list-group edit-activity-exercises">
                <p class="no-exercise">Il n'y pas de page d'exercice, vous pouvez en ajouter en cliquant sur le bouton "Ajouter une page d'exercice" si dessous </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="btn-group-justified">
                <a class="btn btn-primary" id="new-exercise-button">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter une page d'exercice
                </a>
            </div>
        </div>
    </div>

{% endblock %}