{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Bienvenue dans l'interface d'administration</h2>
            </div>
            <p>Vous pouvez ajouter, modifier ou supprimer des <strong>enseignants</strong> en cliquant sur <strong>"Gestion
                des enseignants"</strong> dans le menu ci dessus.</p>

            <p>Vous pouvez ajouter, modifier ou supprimer des <strong>élèves</strong> en cliquant sur <strong>"Gestion
                des élèves"</strong> dans le menu ci dessus.</p>

            <p>Vous pouvez ajouter, modifier ou supprimer des <strong>classes</strong> en cliquant sur <strong>"Gestion
                des classes"</strong> dans le menu ci dessus.</p>

            <p></p>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Conseil</h3>
                </div>
                <div class="panel-body">
                    Il est conseillé d'ajouter des <strong>classes</strong> avant d'ajouter des <strong>enseignants</strong> ou des <strong>élèves</strong>.
                </div>
            </div>
        </div>
    </div>
{% endblock %}