/* General */



/* Singnin */
.form-signin {
    max-width: 380px;
    padding: 15px;
    margin: 0 auto;
    -webkit-animation: AUTH-INIT 1s; /* Safari 4+ */
    -moz-animation: AUTH-INIT 1s; /* Fx 5+ */
    -o-animation: AUTH-INIT 1s; /* Opera 12+ */
    animation: AUTH-INIT 1s; /* IE 10+, Fx 29+ */
}

.form-signin .form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .form-control-first {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .form-control-second {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Animations */
@-webkit-keyframes AUTH-INIT {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes AUTH-INIT {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes AUTH-INIT {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes AUTH-INIT {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}