/* General */

* {
    box-sizing: border-box;
}

.btn-group {
    display: flex;
}

.row {
    margin-bottom: 20px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

td.last {
    width: 1px;
    white-space: nowrap;
}

/* Navbar */

body .navbar-default .navbar-nav > li > a:hover, body .navbar-default .navbar-nav > li > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

body .navbar-default .navbar-nav > li > a, body .navbar-default .navbar-nav > li > a:hover, body .navbar-default .navbar-nav > li > a:focus {
    transition-duration: .35s;
}

@media (min-width: 768px) {
    body .navbar-default .navbar-nav > li > a:hover:before, body .navbar-default .navbar-nav > li > a:focus:before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #777;
        transition-duration: .2s;
    }

    body .navbar-default .navbar-nav > li > a:before {
        content: " ";
        display: block;
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #777;
        transition-duration: .2s;
    }
}

/* Singnin */
.form-signin {
    max-width: 380px;
    padding: 15px;
    margin: 0 auto;
    -webkit-animation: AUTH-INIT 1s; /* Safari 4+ */
    -moz-animation: AUTH-INIT 1s; /* Fx 5+ */
    -o-animation: AUTH-INIT 1s; /* Opera 12+ */
    animation: AUTH-INIT 1s; /* IE 10+, Fx 29+ */
}

.form-signin .form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .form-control-first {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .form-control-second {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bad-login {
    padding: 15px;
    border-radius: 4px;
}

/* Admin panel */

/* Other stuff */
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

/* Animations */
@-webkit-keyframes AUTH-INIT {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes AUTH-INIT {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes AUTH-INIT {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes AUTH-INIT {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
