{% extends 'base.html' %}
{% block content %}
    <form class="form-signin" method="post" action=".">{% csrf_token %}
        <h2 class="form-signin-heading">
            Veuillez vous authentifier
        </h2>
        {% if bad_login %}
            <p class="bg-danger bad-login">Votre nom d'utilisateur ou votre mot de passe sont incorrect.</p>
        {% endif %}
        <label for="inputUsername" class="sr-only">Nom d'utilisateur</label>
        <input name="username" type="text" id="inputUsername" class="form-control form-control-first"
               placeholder="Nom d'utilisateur"
               required autofocus>

        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input name="password" type="password" id="inputPassword" class="form-control form-control-second"
               placeholder="Mot de passe" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
    </form>
{% endblock %}