{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ django|title }}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-select.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/toastr.min.css" %}">
    <link rel="stylesheet" href="{% static "css/default.css" %}">
    <link rel="stylesheet" href="{% static "css/summernote.css" %}">
    <script src="{% static "js/string-format-library.js" %}"></script>
    <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "js/jquery.cookie.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "js/i18n/bootstrap-select-fr_FR.min.js" %}"></script>
    <script src="{% static "js/toastr.min.js" %}"></script>
    <script src="{% static "js/summernote.js" %}"></script>
    <script src="{% static "js/i18n/summernote-fr-FR.js" %}"></script>
    <script src="{% static "js/delete-modal.js" %}"></script>
    <script>
        $(function () {
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            var csrftoken = $.cookie('csrftoken');
            $.ajaxSetup({
                async: false,// TODO attention peut faire ramer l'application si le seveur met du tempsà répondre
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });


            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "3000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        });
    </script>
</head>
<body>
{% block header %}
    {% include "navbar.html" %}
{% endblock %}
<div class="container">
    <div class="row" id="user-name-row">
        {% if connected %}
            <p class="col-md-12 text-right">
                {{ first_name }} {{ last_name }}
            </p>
        {% endif %}
        <p class="col-md-12">
        </p>
    </div>
    {% block content %}

    {% endblock %}
</div>
</body>
</html>