{% load staticfiles %}
<script src="{% static "js/group-manager.js" %}"></script>
<script>
    $(function () {
        //$('#user-list').listUsers({'type': 'student'});
        $('#group-list').list_groups();
    });
</script>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" id="button-add-group"><span class="glyphicon glyphicon-plus"></span>
            Ajouter une classe</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <th>Nom de la classe</th>
                <th>Gestion</th>
            </tr>
            <tbody id="group-list">
            <tr>
                <td colspan="2" class="text-center">Chargement ...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{# modals #}
<div class="modal fade" id="change-modal" tabindex="-1" role="dialog" aria-labelledby="change-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputName">Nom de la classe</label>
                    <input name="name" type="text" id="inputName" class="form-control form-control-first"
                           required autofocus>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="save-btn">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>


{#delete confirm modal#}
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="change-modal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirm-delete-modal">Confirmation de suppression</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                <button type="button" class="btn btn-danger" id="yes-btn">Oui</button>
            </div>
        </div>
    </div>
</div>